tml * {
  font-family: 'Inter', sans-serif;
  font-family: 'Montserrat', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1200px;
  align-items: center;
  background-color: white;
  justify-content: center;
  justify-items: center;
  gap: 50px;
}

.card {
  width: 300px;
  height: 400px;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
}
.cardInativo {
  width: 300px;
  height: 400px;
  filter: saturate(0%);
  box-shadow: 2px 2px 12px rgba(124, 0, 0, 0.25);
  border-radius: 50px;
  
}

.img {
  width: 125px;
  height: 125px;
  border-radius: 150px;
  filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.5))
}

.img2 {
  width: 300px;
  height: 60px;
  position: absolute;
  transform: translateY(165%)
}

.salario{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.aniversario{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
  


.boxcima {
  background: linear-gradient(90deg, #76d68b 0%, #49da61 100%);
  border-radius: 50px 50px 0 0;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction:column;

}

.nome{
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  margin-top: 45px;
}
.email {
  font-size: 13px;
  display: flex;
  justify-content: center;
  margin-top: -20px;

}

.edit{
  width: 20px;
  height: 20px;
  float: right;
  margin-right:  25px;
  margin-top: -40px;
}

.delete{
  width: 20px;
  height: 20px;
  float: right;
  margin-right:  25px;
  margin-top: -40px;
}

.escrita1{
font-size: 15px;  
margin-left: 40px;
margin-top: 40px;
font-family: 'Montserrat', sans-serif;
font-weight: bold;

}

.escrita2{
  font-size: 15px;
  margin-left:  40px;
  font-family: 'Montserrat', sans-serif;
  font-weight:Â bold;
}
